.catalog__title {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-align: center;

  margin: 0;
  padding: 0 45px;
  padding-top: 70px;
  padding-bottom: 77px;

  background-color: #f1f1f1;
}

.catalog__list {
  @include style-reset();
  margin-left: auto;
  margin-right: auto;
}

.catalog__item {
  text-align: left;

  margin: 30px;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 0 10px 5px #c6c6c6;
  }

  &:active {
    box-shadow: 0 0 5px 5px #c6c6c6;
  }
}

.catalog__description {
  padding: 25px;

  h3 {
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    margin: 0;
    padding-bottom: 10px;
  }

  p {
    font-size: 14px;
    line-height: 24px;

    margin: 0;
    padding-bottom: 23px;
  }

  b {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
  }
}

.catalog__wrapper-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #ececec;
  padding-top: 20px;
}

.catalog__link-order {
  display: block;
  width: 22px;
  height: 22px;
}

.catalog__img {
  display: block;
  width: 260px;
  height: 195px;
}

.catalog__link-order svg {
  opacity: 0.2;
}

.catalog__link-order:hover svg,
.catalog__link-order:focus svg {
  fill: #63d1bb;
  opacity: 1;
}

.catalog__link-order:active svg {
  fill: #63d1bb;
  opacity: 0.3;
}

@media ($tablet-width) {
  .catalog__title {
    position: relative;

    font-size: 40px;
    line-height: 50px;

    padding-top: 90px;
    padding-bottom: 97px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;

      width: 100%;
      height: 24px;

      background-image: url("../img/zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: 800px 25px;
    }
  }

  .catalog__list {
    padding-top: 10px;
  }

  .catalog__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 53px 0;
  }

  .catalog__link {
    display: block;
    height: 334px;
  }

  .catalog__img {
    width: 334px;
    height: 334px;
  }

  .catalog__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    padding-left: 28px;
    padding-right: 28px;

    h3 {
      font-size: 18px;

      padding-bottom: 6px;
    }

    p {
      font-size: 15px;
      line-height: 30px;
    }

    b {
      font-size: 16px;
    }
  }

  .catalog__wrapper-cost {
    padding-top: 25px;
  }
}

@media ($desktop-width) {
  .catalog__title {
    font-size: 50px;
    line-height: 57px;
    padding: 0 50px;
    padding-top: 90px;
    padding-bottom: 122px;

    &::after {
      height: 34px;
      background-size: 1150px 40px;
    }
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 58px;
  }

  .catalog__item {
    flex-direction: column;
    justify-content: stretch;
    width: 315px;
    margin-bottom: 55px;
  }

  .catalog__img {
    width: 316px;
    height: 462px;
  }

  .catalog__link {
    width: 316px;
    height: 462px;
  }

  .catalog__description {
    width: auto;

    p {
      padding-bottom: 35px;
    }
  }

  .catalog__item:nth-child(3) p {
    padding-bottom: 12px;
  }
}
