.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 19px 0;
}

.copyright b {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  align-self: center;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  width: 182px;
  height: 36px;

  &:active {
    opacity: 0.5;
  }
}

.copyright__link svg {
  &:hover,
  &:focus {
    fill: #46c1ae;
  }
}
